@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500;600;700&family=Flamenco:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500;600;700&family=Big+Shoulders+Display:wght@700&family=Flamenco&family=Source+Serif+4:wght@300;400;500&display=swap');
*{
    font-family: 'Source Serif 4';
}
body{    
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    padding-bottom: 10%;
    border-radius: 50%;
}
.head-container{
    width: 100%;
    background: url(/images/fondo4.jpg) no-repeat center center/cover;
}
.nav-container{
    width: 100%;
    height: 5em;
    margin: 0;
}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}
.logo{
    width: 40%;
    height: 100%;
}
.logo img{
    width: 100%;
    height: 100%;
}
.navigation-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-container ul{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}
a{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(white, white);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
a:hover, a:focus {
    background-size: 100% 2px;
}
a:visited{
    color: white;
}
li{
    list-style: none;
    font-size: 100%;
    font-weight: 400;
}
i{
    font-size: 130%;
    top: 0;
    color: white;
}
.intro{
    width: 100%;
    height: 40em;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(11,29,38);
    background: linear-gradient(0deg, rgba(11,29,38,1) 0%, rgba(255,255,255,0) 50%);
}
h2{
    font-size: 250%;
    font-weight: 500;
    margin: 10% auto;
    color: white;
}
p{
    font-size: 120%;
    font-weight: 600;
    margin: 5%;
    text-align: center;
    color:white;
}
.container-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}
.container-intro h3{
    font-size: xx-large;
    font-weight: 00;
    color: white;
}
.container-intro p{
    font-weight: 600;
}
.main-container{
    background-color: #0b1d26;
    width: 100%;
    padding-top: 30%;
    margin-bottom: 0%;
}
.section-lugares, .section-nosotros, .section-login, .section-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
}
.section-login{
    padding-bottom: 10%;
}
figure{
    width: 100%;
    margin-bottom: 0;
}
.section-lugares img{
    width: 90%;
    margin: 5%;
    height: 12em;
}
.section-lugares h3{
    color: white;
    font-size: x-large;
    font-weight: inherit;
    margin: 0 auto;
}
.section-lugares p{
    font-size: 110%;
    font-weight: lighter;
}
.section-nosotros img{
    width: 90%;
    height: 12em;
    margin: 5%;
}
.section-nosotros h3{
    color: white;
    font-size: x-large;
    font-weight: inherit;
    margin: 0 auto;
}
.section-nosotros p{
    font-size: 110%;
    font-weight: lighter;
}
.section-login img{
    width: 90%;
    height: 12em;
    margin: 5%;
}
.section-login h3{
    color: white;
    font-size: x-large;
    font-weight: inherit;
    margin: 0 auto;
}
.section-login p{
    font-size: 110%;
    font-weight: lighter;
}
.section-contacto img{
    width: 90%;
    height: 12em;
    margin: 5%;
}
.section-contacto h3{
    color: white;
    font-size: x-large;
    font-weight: inherit;
    margin: 0 auto;
}
.section-contacto p{
    font-size: 110%;
    font-weight: lighter;
}
.leer-mas{
    width: 80%;
    height: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.leer-mas a{
    color: blanchedalmond;
}
i{
    margin-left: 2%;
    font-size: 100%;
    padding-top: 1%;
}

.contenedor-principal{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lugar{
    width: 100%;
    height: 15em;
    margin:auto;
}
.lugar figure{
    width: 90%;
    height: 90%;
    margin: auto;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0.7em;
}
.lugar figure a{
    width: 100%;
    height: 100%;
}
.lugar figure img{
    width: 100%;
    height: 100%;
    margin: auto;
    transition: all 500ms ease-out;
}
.capa{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    opacity: 0;
    visibility: hidden;
}
.capa h4{
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
    color: white;
    margin-top: 0;
    transition: all 500ms ease-out;
}
.lugar figure:hover > img{
    transform: scale(1.3);
}
.lugar figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}
.lugar figure:hover > .capa h4{
    margin-top: 20%;
}
.intro-lugares{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro-lugares h2{
    margin: 0 auto 5%;
}
.intro-lugares p{
    font-size: 100%;
    font-weight: 500;
    margin-top: 0;
}
.container-login{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 20% auto;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0.7em;
}
.container-login span{
    width: 70%;
    margin:3% auto;
    color: white;
    font-size: 140%;
    font-weight: 800;
    text-align: center;
}
.container-login input{
    width: 70%;
    margin: auto;
    margin-bottom: 10%;
    border-radius: 0.4em;
    padding-left: 4%;
}
.nosotros{
    margin-top: 30%;
}
.olvido-contra p{
    color: white;
}
.olvido-contra a{
    color:cadetblue;
    text-decoration:underline;
}
.olvido-contra a:hover, a:focus {
    background-size: 0% 0px;
}
footer{
    width: 100%;
    background: black;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}
.nav-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.nav-footer ul{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
}
.nav-footer li{
    margin: auto 5%;
}
.redes{
    width: 100%;
    margin-top: 0;
    padding: 0;
}
.redes ul{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
.redes li{
    margin: 1% 5%;
}

.contenedor-contacto{
    width: 80%;
    background: rgba(0, 0, 0, 0.7);
    margin: auto;
    margin-top: 25%;
    display: flex;
    flex-direction: column;
}
.contenedor-contacto span{
    width: 70%;
    margin:1% auto;
    color: white;
    font-size: 140%;
    font-weight: 800;
    text-align: center;
    margin-left: 0;
}
.contenedor-contacto input{
    width: 50%;
    margin: auto 0;
    height: 2.5em;
    font-weight: 800;
}
.datos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 5%;
}
.datos span{
    text-align: left;
}
.consulta{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.consulta input[type=textarea]{
    margin: auto;
    height: 10em;
    resize: none;
    width: 90%;
}
.consulta input[type=submit]{
    font-size: 15px;
    font-weight: 800;
    margin: 2% auto;
}
.contenedor-registro{
    width: 80%;
    background: rgba(0, 0, 0, 0.7);
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}
.contenedor-registro span{
    width: 70%;
    margin:1% auto;
    margin-left: 0;
    color: white;
    font-size: 140%;
    font-weight: 800;
    text-align: left;
}
.contenedor-registro input{
    width: 70%;
    margin: auto;
    margin-left: 0;
    height: 2.5em;
    font-weight: 800;
}
.contenedor-registro input[type=submit]{
    font-size: 15px;
    font-weight: 800;
    margin: 2% auto;
}

/* Inicio de Media Query */

@media (min-width: 426px){
    .navigation-container ul{
        justify-content: space-around;
    }
    .intro{
        margin-top: 0;
    }
    .intro h2{
        margin-bottom: 0;
    }
    .container-intro{
        margin-top: 8%;
    }
    .lugar figure{
        width: 50%;
    }
    .container-galeria{
        margin-top: 5%;
    }
    .container-login input{
        margin: auto;
        height: 2.5em;
        font-weight: 800;
    }
    .contenedor-contacto{
        margin-top: 5%;
    }
    .contenedor-registro input{
        width: 45%;
    }
}
@media (min-width: 769px){
    .navigation-container ul li a{
        font-size: 150%;
    }
    .navigation-container a{
        font-size: xx-large;
    }
    .intro h2{
        font-size: 350%;
    }
    .intro p{
        font-size: 200%;
        font-weight: 500;
    }
    .container-intro{
        margin-top: 5%;
        margin-bottom: 0;
    }
    .container-intro h3{
        font-size: 300%;
    }
    .container-intro p{
        font-size: xx-large;
    }
    .contenedor-principal{
        flex-direction: row;
        margin-top: 5%;
    }
    .container-galeria{
        margin-top: 2%;
        margin-bottom: 0;
    }
    .intro-lugares h2{
        margin-bottom: 2%;
    }
    .intro-lugares p{
        font-size: x-large;
        margin-top: 0;
        margin-bottom: 2%;
    }
    .lugar figure{
        width: 80%;
        height: 14em;
    }
    .container-login{
        margin-top: 5%;
        width: 40%;
    }
    .contenedor-contacto{
        width: 50%;
    }
    .contenedor-registro{
        margin-top: 5%;
    }
}